:root{
    --color-background:rgba(192, 212, 255, 0.705);
}

*{
    margin: 0;
}

.container-home{
    background-color: var(--color-background);
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.4s ease-in-out;
    backdrop-filter: blur(3px);
}
.card-container{
    width: 60%;
    height: 80%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 7px 5px rgba(134, 48, 192, 0.7);
}
.card-body{
    height: 90%;
    overflow-y: scroll;
}
.user-img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50px;
    margin-left: auto;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: -20px;
    border: 3px solid white;
}
.card-header{
    width: 100%;
    height: 5rem;
    background: linear-gradient(90deg, 
    rgb(172, 172, 253) 20%,
     rgb(200, 157, 248) 60%,
      #703bd3d5) 60%;
      display: table;
}.color-username{
    color: white
}

.exit-btn{
    position: absolute;
    color:white;
    background: rgba(8, 8, 133, 0.733);
    backdrop-filter: blur(3px);
    border-radius:  50px;
    opacity: 0;
    transition: 0.3s;
}
.user-info-container:hover .exit-btn{
    transform: translateX(80px);
    box-shadow: 1px 2px 7px 1px rgba(111, 111, 151, 0.8);
    opacity: 1;
}
.exit-btn:hover{
    scale: 1.02;
    background: rgba(25, 25, 165, 0.733);
}
.user-info-container{
    position: absolute;
    width: 150px;
    border-radius: 4px;
    background-color: rgba(80, 37, 196, 0.466);
    backdrop-filter: blur(5px);
    margin-left: 4rem;
    margin-top: 5%;
    z-index: 1;
    box-shadow: 2px 5px 5px 2px rgba(111, 111, 151, 0.8);
}
.date-header{
    color: white;
    font-size: 20px;
    margin-top: 1%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card-list{
    height: 7rem;
    background-color: white;
    transition: 0.2s ;
    margin:10px;
    display: flex;
}.card-list:hover{
    margin:5px;
    z-index: 1;
    scale: 1.05;
    background-color: rgb(248, 232, 232);
    border-left: 28px solid rgba(134, 48, 192, 0.7);
    box-shadow: 0 0 7px 1px rgba(192, 212, 255, 0.705);
    
}.data-name-container{
    display:block;
    margin-left: 20px;
    margin-top: 1rem;
    width: 85%;
}

.btn-plus{
    border-radius: 50px;
    height: 40px;
    font-size: 12px;
    color: white;
    background-color: rgba(69, 17, 112, 0.678);
    width: 40px;
    text-align: center;
    padding: 1px;
    right: 15%;
    bottom: 12%;
    transition: 0.3s ease-in;
    box-shadow: 2px 2px 5px 1px rgba(56, 41, 41, 0.815);
    position:absolute;
}
.btn-plus:hover{
    scale: 1.07;
    transform: translateY(-10px);
    background-color: rgba(99, 45, 143, 0.678);
    box-shadow: 2px 2px 5px 1px rgba(124, 163, 80, 0.815);
}
.btn-plus svg{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    transition: 0.2s ease-in;
}

.btn-plus:hover svg{
    transform: rotate(90deg);
}

.modal-container:has(#check-modal:checked) .btn-plus svg{
    animation: checking 1s infinite;
}

#check-modal:checked ~#modal-add{
    display: block;
}

.btn-cancel{
    color: white;
    border-radius: 5px;
    padding: 2px 15px 2px 15px;
    background-color: rgba(158, 11, 11, 0.774);
    backdrop-filter: blur(10px);
}.btn-add{
    border-radius: 5px;
    background-color: rgba(139, 61, 228, 0.774);
    color: white;
    padding: 2px 15px 2px 15px;
    backdrop-filter: blur(10px);

}
.container-options{
    width: 15%;
    margin-right: auto;
    margin-left: auto;
}
.btn-option{
    transition: 0.5s;
    opacity: 0;
    border-radius: 50px;
    border: 0;
    background-color: rgba(252, 233, 255, 0.8);
    box-shadow: 0px 0px 5px 1px rgba(59, 30, 87, 0.664);
}
.btn-option svg{color: rgba(164, 40, 184, 0.8);}
.card-list:hover .btn-option{
    opacity: 1;
    margin-top: 13px;
    transform: translateX(10px);
}

.icon-react{
    width:50px;
    height:50px;
    border-radius:50px;
    object-fit: cover;
    float: right;
    margin-top:1rem;
    border: 1px solid rgba(175, 140, 140, 0.7);
    margin-right: 15px;
}


@keyframes checking{
    0%{transform: rotate(0)}
    25%{transform: rotate(45deg);}
    50%{transform: rotate(0);}
    75%{transform: rotate(-90deg);}
    100%{transform: rotate(0deg);}
}
@media only screen and (max-width: 500px){
    .card-container{
        height: 90%;
    }
    .card-list:hover .btn-option{
        opacity: 1;
        margin-top: 10px;
        transform: translateX(00px);
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #bab9ffc0;
    box-shadow: 0px 0px 5px 1px rgba(67, 13, 80, 0.568);

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #440657c4;
    transition: 0.3s;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #562f94;
  }