:root{
    --bg-color: rgba(255, 255, 255, 0.37);
    --shadow-login: 0px 0px 7px 1px rgba(195, 144, 246, 0.819); 
    --label-btn: rgb(6, 28, 70);
    --modal-color: rgba(255, 229, 229, 0.311);

    --card-login-width: 55%;
    --card-login-height:40rem;
}

.form-container{
    background-color: var(--bg-color);
    width: var(--card-login-width);
    height: var(--card-login-height);
    margin-left: auto;
    margin-right: auto;
    display: table;
    margin-top:  5%;
    margin-bottom: 5%;
    display: flex;
    backdrop-filter: blur(10px);
    box-shadow: var(--shadow-login);
}

.col-left{
    width: 35%;
    height: var(--card-login-height);
    display: block;
    overflow: hidden;

}.col-right{
    width: 65%;
    padding: 2rem;
    height: var(--card-login-height);
}

.login-img{
    object-fit: cover;
    width: 100%;
    transition: 0.3s ease-out;
    height: var(--card-login-height);
}


.form-container:hover .login-img{
    scale: 1.1;
}

.formulary-login {
    margin-left: auto;
    margin-right: auto;
    display: table;
    width: 80%;
    height: 25rem;
}

.btn-label {
    background-color: var(--label-btn);
    color: white;
    padding: 8px;
    font-size: 5px;
    border-radius:50px;
}

.footer-btn button{
    margin-left: 2rem;
    margin-right: 2rem;
}
.modal-color{
    background-color: var(--modal-color) !important;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 17px 2px rgba(255, 255, 255,1);
}

.container-profile-img-signin{
    display:block;
    font-size: 20px;
    text-align: center;
    color: rgb(54, 49, 49)
;}

.user-login-image{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    display: table;
}
.btn-choseimg{
    cursor:pointer;
    width: 40px;
    height: 40px;
    color: white;
    padding: 3px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    margin-top: -1rem;
    margin-left: -2.5rem;
    transition: 0.3s ease-in-out;
    border-radius: 50px;
    background-color: rgb(56, 5, 107);
}.btn-choseimg:hover{
    background-color: rgb(102, 52, 153);
    box-shadow: 0px 0px 2px 2px rgba(236, 232, 255, 0.7);
    scale: 1.15;
}.btn-choseimg:hover svg{
    scale: 1.15;
    animation: little_dance 0.6s ease;
}
.btn-choseimg svg{
    scale: 1.3;
}.name-file{
    color: rgb(32, 28, 28);
}

@keyframes little_dance {
    0%{
        transform: rotate(0dg);
    } 
    25%{
        transform: rotate(30deg) 
        translateX(3px) 
        translateY(-5px);
    }
    50%{
        transform: rotate(-30deg) 
        translateX(-3px) 
        translateY(5px);
    }
    75%{
        transform: rotate(-30deg) 
        translateX(-3px) 
        translateY(-5px);
    }
    100%{
        transform: rotate(30deg) 
        translateX(3px) 
        translateY(5px);
    }   
}
/*Mobile view------------------------------------------------------------------------------------*/
@media only screen and (max-width:600px){
    .form-container{
        display: block;
    }
    .formulary-login{
        height: 10rem;
    }
    .col-left{
        width: 100%;
        height: 10rem;
    }.login-img{
        object-position: -160px -170px;
    }.col-right{
        width: 100%;
    }.form-container{
        margin-top:5px;
        height: 45rem;
    }
}